@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #212D55;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  padding-bottom: 1.75rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.625rem;
  background: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
  padding: 0.9375rem;
}

.card__wrap {
  width: 100%;
  background-image: radial-gradient(circle at 0% 50%, transparent 10px, #fff 0px);
  border-radius: 0.625rem;
  padding: 1.25rem;
  -webkit-filter: drop-shadow(0px 5px 15px rgba(33, 45, 85, 0.1));
          filter: drop-shadow(0px 5px 15px rgba(33, 45, 85, 0.1));
  position: relative;
}

.card__title {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card__price {
  font-size: 1.375rem;
  font-weight: 700;
}

.card__text {
  font-size: 1.125rem;
  font-weight: 600;
}

.button {
  border-radius: 10px;
  background-color: #31BEF4;
  -webkit-box-shadow: 0px 6px 0px 0px #2CABDC;
          box-shadow: 0px 6px 0px 0px #2CABDC;
  padding: 1rem 1.25rem;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 3.125rem;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}

.button:hover {
  -webkit-box-shadow: 0px 4px 20px 0px #0B91C5;
          box-shadow: 0px 4px 20px 0px #0B91C5;
}

.header {
  position: relative;
  margin-bottom: 20px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0.9375rem 1.875rem 0.9375rem;
}

.header__logo-img-light {
  display: none;
}

.header__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58.25rem;
  z-index: -1;
}

.menu__callback {
  display: none;
}

.menu .submenu-desktop {
  display: none;
}

.icon-menu__wrap {
  display: none;
}

.breadcrumb {
  margin-bottom: 1.875rem;
}

.breadcrumb-list {
  padding: 10px 16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb-item {
  display: inline;
  font-size: 18px;
  color: #656D89;
  font-family: "Gilroy";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}

.breadcrumb-item.active {
  font-weight: 600;
}

.breadcrumb-item + li:before {
  padding: 0.25rem;
  color: #656D89;
  content: "/ ";
}

.breadcrumb-item a:hover {
  color: #01447e;
  text-decoration: underline;
}

.advantages {
  margin-bottom: 6.25rem;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.advantages__title {
  color: #212D55;
  font-family: "Raleway";
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-align: center;
  margin-bottom: 1.1875rem;
}

.advantages__title span {
  font-weight: 700;
}

.advantages__address {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5625rem;
  line-height: 1.15;
}

.advantages__price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.0625rem;
}

.advantages__slider {
  padding: 0 0.9375rem !important;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.advantages__slider-wrap {
  height: 132px;
}

.slide-advantages {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-advantages:last-child {
  margin-right: 0 !important;
}

.slide-advantages__title {
  text-align: left;
}

.slide-advantages__price {
  text-align: left;
}

.slide-advantages.swiper-slide-active .slide-advantages__wrap::after {
  background-color: #31BEF4;
}

.slide-advantages__wrap::after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  left: -0.3125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #fff;
}

.complex {
  margin-bottom: 5.625rem;
  background-color: #fff;
}

.complex__container {
  height: 375px;
  padding: 0 30px;
}

.complex__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5;
  margin-bottom: 2.6875rem;
  text-align: center;
}

.complex__slider {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4.375rem;
}

.complex__slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 36px) / 2) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
}

.slide-complex__wrap {
  width: auto;
  padding: 0.75rem 1.125rem;
}

.slide-complex__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.0625rem;
}

.slide-complex__price {
  font-weight: 600;
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  border: 1px solid #31BEF4;
  background-color: transparent;
  width: 0.625rem;
  height: 0.625rem;
  position: relative;
}

.swiper-pagination-bullet-active {
  -webkit-filter: drop-shadow(0px 3px 8px rgba(49, 190, 244, 0.8));
          filter: drop-shadow(0px 3px 8px rgba(49, 190, 244, 0.8));
  width: 1.25rem;
  height: 1.25rem;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #31BEF4;
  border-radius: 50%;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
}

.description {
  margin-bottom: 6.25rem;
}

.description__container {
  padding: 0;
}

.description__title {
  padding: 0 0.9375rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
  line-height: 1.25;
}

.description__text {
  padding: 0 0.9375rem;
  color: #656D89;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.6875rem;
  line-height: 1.2222222222;
}

.tabs__btn {
  padding: 0.5625rem;
}

.tabs__btn-wrap {
  padding: 0.9375rem;
  border: 1px solid #fff;
}

.tabs__btn-wrap::before {
  position: absolute;
  content: "";
  top: calc(50% - 10px);
  left: -0.0625rem;
  width: 0.625rem;
  height: 1.25rem;
  border-radius: 0 20px 20px 0;
  border-left: 2px solid #EFF3F5;
}

.tabs__navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
  margin-bottom: 3.75rem;
  padding: 0 0.9375rem;
}

.tabs__button-wrap {
  border: none;
  padding: 0;
  margin-right: 0.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.75rem;
}

.tabs__content {
  padding: 0;
  border: none;
}

.tabs__body {
  padding: 16rem 0.9375rem 1.9375rem 0.9375rem;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.tabs__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tabs__wrap {
  padding: 1.25rem;
  padding-right: 0.9375rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 5px 19px 0px rgba(33, 45, 85, 0.06);
          box-shadow: 0px 5px 19px 0px rgba(33, 45, 85, 0.06);
}

.tabs__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.tabs__title {
  border: none;
  padding: 0;
  font-size: 1.375rem;
  font-weight: 700;
}

.tabs__text {
  color: #656D89;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
}

.tabs__text p:not(:last-child) {
  margin-bottom: 1.125rem;
}

.tabs__text span {
  display: none;
}

.tabs__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 5.6875rem;
  padding: 0 0.9375rem;
  gap: 0.9375rem;
  margin-top: 1.25rem;
}

.tabs__photos img {
  width: 16.375rem;
  height: 10.6875rem;
}

._tab-active .tabs__btn-wrap {
  border: 1px solid #31BEF4;
}

._tab-active .tabs__btn-wrap::before {
  border-top: 1px solid #31BEF4;
  border-right: 1px solid #31BEF4;
  border-bottom: 1px solid #31BEF4;
}

._tab-active .card__text {
  color: #31BEF4;
}

.contacts {
  background: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.2);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.2142857143;
}

.contacts__title br,
.contacts__title span {
  display: none;
}

.contacts__online {
  color: #31BEF4;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 1.875rem;
}

.contacts__online::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: -0.6875rem;
  background-color: #31BEF4;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
}

.contacts__box {
  width: 100%;
}

.contacts__wrap {
  padding-bottom: 1.6875rem;
  position: relative;
}

.contacts__wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.9375rem;
  width: calc(100% + 30px);
  height: 0.0625rem;
  border: 1px dashed #31BEF4;
}

.contacts__phone-tex {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222;
  margin-bottom: 0.9375rem;
}

.contacts__phone-number {
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone-number:hover span {
  background-color: #31BEF4;
  -webkit-filter: drop-shadow(0px 3px 15px #31BEF4);
          filter: drop-shadow(0px 3px 15px #31BEF4);
}

.contacts__phone-number:hover svg path {
  fill: #fff;
}

.contacts__phone-number span {
  background-color: #fff;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 3px 15px rgba(33, 45, 85, 0.1));
          filter: drop-shadow(0px 3px 15px rgba(33, 45, 85, 0.1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contacts__phone-number svg path {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contacts__form-wrap {
  padding-top: 1.5625rem;
}

.contacts__form-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form__input-wrap {
  margin-bottom: 1.5625rem;
  padding: 1.5625rem;
}

.form__input {
  color: #A8ABB7;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #A8ABB7;
}

.form__input::-moz-placeholder {
  color: #A8ABB7;
}

.form__input:-ms-input-placeholder {
  color: #A8ABB7;
}

.form__input::-ms-input-placeholder {
  color: #A8ABB7;
}

.form__input::placeholder {
  color: #A8ABB7;
}

.form__button {
  width: 100%;
  margin-bottom: 2.3125rem;
}

.form__check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__check + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 250;
  padding: 0 1.25rem;
}

.form__check + label p {
  display: inline;
}

.form__check + label span {
  color: #31BEF4;
  font-weight: 500;
}

.form__check + label::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(34, 34, 34, 0.15);
          box-shadow: 0px 4px 13px 0px rgba(34, 34, 34, 0.15);
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__check:checked + label::before {
  background-image: url("../img/form/check.svg");
}

.map {
  margin-bottom: 5.875rem;
}

.map #map {
  width: 100%;
  height: 622px !important;
}

.map__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 3.75rem;
  line-height: 1.25;
}

.map__wrap {
  position: relative;
}

.map__tabs-container {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.map .tab-map {
  cursor: pointer;
}

.map .tab-map__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 0 1.25rem;
}

.map .active .tab-map__text {
  color: #31BEF4;
}

.toolbar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.my-marker__pin {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.my-marker__img {
  position: absolute;
  top: -11px;
  left: -14px;
  width: 76px;
  height: 76px;
}

.popup {
  width: 10.125rem;
  position: absolute;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  border-radius: 0.625rem;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(33, 45, 85, 0.15);
          box-shadow: 0px 3px 15px 0px rgba(33, 45, 85, 0.15);
  background-size: 200% 200%;
  -webkit-transform: translate(-50px, -50px);
      -ms-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}

.popup__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  color: #31BEF4;
  text-align: center;
  font-family: "Gilroy";
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

.popup__alert-btn {
  margin-top: 10px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  top: -15px;
  right: -25px;
  width: 24px;
}

.popup__close:hover {
  cursor: pointer;
}

.right-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding: 15px 15px 30px;
  text-align: center;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 18px -5px #fddf7f;
          box-shadow: 0 6px 18px -5px #fddf7f;
}

.right-popup__close,
.left-popup__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  font-size: 20px;
  cursor: pointer;
  color: #c0c5cb;
  border: none;
  background-color: transparent;
}

.right-popup__img {
  width: 82px;
}

.right-popup p {
  margin-bottom: 15px;
  font-size: 16px;
}

.right-popup__accept {
  width: 70%;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ed6755;
  -webkit-box-shadow: 0 6px 18px -5px rgb(237, 103, 85);
          box-shadow: 0 6px 18px -5px rgb(237, 103, 85);
}

.left-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: rgb(240, 240, 240);
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
}

.no-webp .left-popup__img{
  background-image: url("./img/shop.jpg"); }

.left-popup__img {
  display: block;
  width: 55%;
  height: inherit;
  background-size: cover;
}

.left-popup__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45%;
  height: 100%;
  padding: 15px;
}

.left-popup__title {
  margin: 0;
  font-size: 18px;
  color: rgb(60, 60, 70);
}

.left-popup__text {
  margin: 0;
  font-size: 13px;
}

.left-popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.left-popup__item img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.left-popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 70px;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
  color: #546973;
  border: 2px solid #78909c;
  border-radius: 8px;
  background: none;
}

.left-popup__close {
  position: absolute;
  top: -15px;
  right: -20px;
  width: 24px;
  padding: 0;
  color: #000;
}

.left-popup__btn:hover {
  color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
}

.left-popup__btn-img {
  width: 100%;
  height: 70%;
  opacity: 0.7;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-popup__btn:hover .left-popup__btn-img {
  opacity: 1;
}

@media (min-width: 47.99875em) {
  .map__tabs-container {
    top: 2.9375rem;
    left: auto;
    width: 19.9375rem;
  }
}

@media (min-width: 61.99875em) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    gap: 5.625rem;
    position: relative;
    padding: 0.9375rem 1.5rem 0.6875rem 1.5rem;
  }

  .header__image-ibg {
    height: 50rem;
  }

  .menu .submenu {
    display: none;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.4375rem;
  }

  .menu__callback-number {
    color: #212D55;
    font-family: "Gilroy";
    font-size: 1.25rem;
    font-weight: 600;
  }

  .menu__callback-link {
    color: #212D55;
    font-family: "Raleway";
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
  }

  .menu__callback-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.0625rem;
    width: 105%;
    height: 0.0625rem;
    background-color: #212D55;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }

  .menu__link {
    color: #212D55;
    font-family: "Raleway";
    font-size: 1.125rem;
    font-weight: 600;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .menu__link:hover,
  .menu__link:active,
  .menu__link:focus {
    color: #31BEF4;
  }

  .menu .active + .submenu {
    display: none !important;
  }

  .submenu-desktop {
    border-top: 1px solid #31BEF4;
    border-bottom: 1px solid #31BEF4;
    padding: 1.9375rem 0;
    margin-bottom: 2.375rem;
  }

  .submenu__container {
    padding: 0 1.875rem;
  }

  .submenu {
    gap: 2.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .breadcrumb {
    display: none;
  }

  .advantages {
    margin-bottom: 10.8125rem;
  }

  .advantages__slider {
    padding-left: 0;
  }

  .advantages__title {
    font-size: 3.75rem;
    margin-bottom: 1.1875rem;
  }

  .advantages__address {
    font-size: 2rem;
    margin-bottom: 0rem;
  }

  .advantages__address br {
    display: none;
  }

  .advantages__price {
    font-size: 2.1875rem;
    line-height: 2;
    margin-bottom: 1.0625rem;
  }

  .advantages__btn {
    border-radius: 10px;
    background-color: #31BEF4;
    -webkit-box-shadow: 0px 6px 0px 0px #2CABDC;
            box-shadow: 0px 6px 0px 0px #2CABDC;
    padding: 0.9375rem 1.625rem;
    color: #FFF;
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 2.5625rem;
  }

  .slide-advantages__price {
    text-align: left;
  }

  .complex {
    margin-bottom: 1.75rem;
  }

  .complex__title {
    display: none;
  }

  .description {
    margin-bottom: 3.9375rem;
  }

  .description__container {
    padding: 0 0.9375rem;
  }

  .description__title {
    font-size: 2.8125rem;
    margin-bottom: 1.5rem;
  }

  .description__text {
    font-size: 1.375rem;
    margin-bottom: 3.1875rem;
  }

  .description__text br {
    display: none;
  }

  .tabs__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem;
  }

  .tabs__btn {
    padding: 0.9375rem;
    width: 12.0625rem;
  }

  .tabs__btn:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .tabs__btn:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .tabs__btn:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .tabs__btn:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .tabs__btn-wrap {
    padding: 1.4375rem 0;
    padding-left: 1.3125rem;
  }

  .tabs__btn-wrap .card__text {
    text-align: left;
    font-size: 1.375rem;
  }

  .tabs__photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    gap: 1.75rem;
    width: 16.375rem;
  }

  .tabs__photos img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .tabs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0.9375rem;
  }

  .tabs__content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0.9375rem;
  }

  .tabs__text span {
    display: inline;
  }

  .tabs__body {
    padding-top: 8.75rem;
    padding-left: 1.6875rem;
    padding-right: 25%;
    border-radius: 10px;
    overflow: hidden;
  }

  .tabs__wrap {
    padding: 1.5625rem 0.9375rem 1.5rem 1.25rem;
  }

  .tabs__box {
    margin-bottom: 40px;
  }

  .contacts {
    padding-top: 3.125rem;
  }

  .contacts__title {
    font-size: 2.5rem;
    margin-bottom: 3.125rem;
  }

  .contacts__title br {
    display: block;
  }

  .contacts__title span {
    display: inline;
  }

  .contacts__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__online {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-right: 18%;
  }

  .contacts__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts__wrap {
    padding: 0 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }

  .contacts__wrap::before {
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
    width: 0.0625rem;
    height: 100%;
    border: 1px dashed #31BEF4;
  }

  .contacts__phone-tex {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.2222222222;
    margin-bottom: 1.3125rem;
  }

  .contacts__phone-wrap {
    margin-bottom: 0.3125rem;
  }

  .contacts__phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__form-wrap {
    width: 50%;
    padding: 0rem 1.5625rem;
    padding-top: 1.5625rem;
  }

  .map {
    margin-bottom: 5.3125rem;
  }

  .map #map {
    width: 100%;
    height: 663px !important;
  }

  .map__title {
    margin-bottom: 3rem;
    font-size: 2.8125rem;
    line-height: 1.5555555556;
  }

  .map__title br {
    display: none;
  }

  .map__tabs-container {
    right: 12.375rem;
  }
}

@media (min-width: 75em) {
  .menu__list {
    gap: 2.6875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .menu__callback {
    margin-right: 1.25rem;
    gap: 0.8125rem;
  }

  .menu__callback-link {
    margin-left: 0.875rem;
  }

  .advantages__slider-wrap {
    padding: 0 90px;
  }

  .tabs__body {
    padding-right: 33.5%;
  }

  .contacts__box {
    margin-top: -47px;
  }

  .contacts__wrap {
    width: 33%;
    padding-left: 0;
  }

  .contacts__form-wrap {
    width: 67%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 22px;
    padding-top: 44px;
    padding-left: 21px;
  }

  .contacts__form-text {
    width: 16%;
    margin-bottom: 3.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__form {
    width: 84%;
    padding-left: 69px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5625rem;
    -webkit-column-gap: 3.625rem;
       -moz-column-gap: 3.625rem;
            column-gap: 3.625rem;
  }

  .form__input-wrap {
    margin-bottom: 0;
  }

  .form__button {
    margin-bottom: 0;
  }

  .form__button-wrap {
    padding: 5px 0;
    padding-left: 5px;
  }

  .form__check-wrap {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .menu__list {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    max-height: 0;
    overflow: hidden;
  }

  .menu-open {
    position: relative;
  }

  .menu-open .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-open .menu__body > .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 1000px;
  }

  .menu-open .header__container {
    padding-top: 0.625rem;
  }

  .menu-open .header__logo {
    z-index: 5;
  }

  .menu-open .header__logo-img {
    display: none;
  }

  .menu-open .header__logo-img-light {
    display: block;
  }

  .menu-open .icon-menu__wrap p {
    display: none;
  }

  .menu-open .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212D55;
    padding-top: 6.5625rem;
    overflow: auto;
    z-index: 4;
  }

  .menu-open .menu__link {
    color: #FFF;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    padding-right: 1.9375rem;
    -webkit-transition: all ease 0.9s;
    transition: all ease 0.9s;
  }

  .menu-open .menu__link.active .menu__link-arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu-open .menu__link.active + .menu__list {
    gap: 0.625rem;
  }

  .menu-open .menu__link.active + .submenu {
    padding-bottom: 0;
  }

  .menu-open .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 1.875rem;
  }

  .menu-open .menu__link-arrow {
    position: absolute;
    top: 0.375rem;
    right: 0.8125rem;
    width: 0.6875rem;
    height: 0.6875rem;
    background-image: url("../img/header/arrow.svg");
    display: block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .menu-open .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .menu-open .submenu {
    display: none;
  }

  .menu-open .submenu .menu__link {
    font-weight: 400;
  }

  .menu-open .menu__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-right: 1.9375rem;
    gap: 0.6875rem;
    margin-top: 1.375rem;
  }

  .menu-open .menu__callback-number {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 1.25rem;
    font-weight: 600;
  }

  .menu-open .menu__callback-link {
    color: #FFF;
    font-family: "Raleway";
    font-size: 1.125rem;
    font-weight: 600;
  }

  .icon-menu {
    position: relative;
    width: 1.9375rem;
    height: 1.4375rem;
    z-index: 5;
    background-image: url("../img/header/burger.svg");
    background-position: center;
  }

  .icon-menu__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu__wrap p {
    margin-right: 0.625rem;
    color: #212D55;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2.2222222222;
  }

  .menu-open .icon-menu {
    background-image: url("../img/header/close.svg");
    border-radius: 50%;
    height: 1.9375rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

.webp .left-popup__img{ background-image: url(./img/shop.webp); }